.figure {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    align-items: center;
    // justify-content: center;

    img,
    video {
        display: block;
        width: 100%;
        height: auto;
    }

    figcaption {
        width: 100%;
        font-style: italic;

        color: rgba(white, 0.7);
        font-size: 0.8rem;
    }
}
